.footer {
  background-color: #fab941;
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-top: 1px solid #fff;
}

.logo {
  scale: 1.7;
}

.rights {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
