.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: white;
}

.wrap {
  padding-inline: 20px;
  /* width: 100%; */
  max-width: 244px;
}

.image {
  width: 100%;
  height: auto;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0;
}

.list {
  width: 90%;
}

.benefit {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.info {
  font-family: "Montserrat", "Sans-serif";
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}

.decore {
  scale: 1.25;
  transform-origin: top;
  margin-right: 10px;
}
