.section {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (min-width: 768px) {
    gap: 120px;
    max-width: 690px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1210px;
    padding: 50px 0px 120px;
  }
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 43px;
    padding: 0px 50px;
  }
}

.swiper {
  width: 100%;

  @media screen and (min-width: 1440px) {
    padding: 0px 45px;
  }
}

.slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  user-select: none;
  cursor: grab;
  background-color: white;
}

.wrap {
  position: relative;
  width: 60%;
  max-width: 400px;
  aspect-ratio: 1/1;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1440px) {
    width: 80%;
  }
}

.info {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;

  @media screen and (min-width: 768px) {
    width: 90%;
  }
}

.subtitle {
  color: #f94a2f;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;

  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
}

.name {
  font-family: "Montserrat", "sans-serif";
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.feedback {
  font-family: "Montserrat", "sans-serif";
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

/*  Overriding standart swiper styles */

.section :global(.swiper-button-next),
.section :global(.swiper-button-prev) {
  opacity: 0.5;
  color: #f94a2f !important;
  transition: 300ms ease;
}

.section :global(.swiper-button-next:hover),
.section :global(.swiper-button-prev:hover) {
  @media screen and (min-width: 1440px) {
    opacity: 1;
  }
}
