.background {
  background-image: url("../public/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
