.effects {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 768px) {
    width: 690px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1440px) {
    width: 1110px;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 43px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.listitem {
  display: flex;
  gap: 20px;
  @media screen and (min-width: 1440px) {
    gap: 30px;
  }
}

.listitem:nth-child(2n) {
  flex-direction: row-reverse;
  text-align: right;
}

.image {
  width: 80px;
  height: 80px;
  @media screen and (min-width: 768px) {
    width: 210px;
    height: 210px;
  }
  @media screen and (min-width: 1440px) {
    width: 255px;
    height: 255px;
  }
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 1440px) {
    width: 55%;
  }
}

.description {
  font-family: "Montserrat", "sans-serif";
  color: #000;
  font-size: 16px;
  font-weight: 300;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
