.experts {
  padding: 100px 35px 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-image: url("../../../public/images/background/lady.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  @media screen and (min-width: 768px) {
    background-image: url("../../../public/images/background/lady-tablet.png");
    padding: 120px 75px 50px;
  }
  @media screen and (min-width: 1440px) {
    background-image: url("../../../public/images/background/lady-doctor.png");
    padding: 200px 655px 200px 165px;
    height: 1060px;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 43px;
  }
}

.description,
.position {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @media screen and (min-width: 1440px) {
    width: 90%;
  }
}

.author {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
