.features {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media screen and (min-width: 768px) {
    gap: 60px;
  }
}

.section {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (min-width: 768px) {
    gap: 160px;
  }
  @media screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 43px;
  }
}

.list {
  @media screen and (min-width: 768px) {
    width: 95%;
    margin-left: auto;
  }
  @media screen and (min-width: 1440px) {
    order: 2;
    width: 100%;
  }
}

.listitem {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 25px 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  gap: 30px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    padding: 25px 165px 25px 95px;
    min-height: 200px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-size: 18px;
  }
}

.listitem:nth-child(1) {
  background-color: #f94a2f;
}

.listitem:nth-child(2) {
  background-color: #fab941;
}

.listitem:nth-child(3) {
  background-color: #8178ac;
}

.icon {
  width: 48px;
  height: 48px;
  @media screen and (min-width: 768px) {
    width: 96px;
    height: 96px;
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 26px;
    text-align: left;
  }
}

.textwrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media screen and (min-width: 768px) {
    width: 60%;
    margin: 0 auto;
  }
  @media screen and (min-width: 1440px) {
    width: 100%;
  }
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media screen and (min-width: 1440px) {
    order: 1;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
  }
}

.description {
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1440px) {
    text-align: left;
  }
}

.accent {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1440px) {
    text-align: left;
  }
}
