.countdown {
  padding: 100px 0px 120px;
  @media screen and (min-width: 1440px) {
    background-image: url("../../../public/images/background/lady-desktop.png");

    background-repeat: no-repeat;
  }
}

.promo {
  margin: 0 auto;
  background-image: url("../../../public/images/background/timer-mobile.png");
  background-position: 50%;
  background-repeat: no-repeat;
  height: 462px;
  max-width: 330px;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  @media screen and (min-width: 768px) {
    max-width: 719px;
    height: 893px;
    background-size: contain;
    padding-top: 160px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 100%;
    height: 866px;
    background-image: url("../../../public/images/background/timer-desktop.png");
    background-position-x: calc(50% - 150px);
  }
}

.textwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  @media screen and (min-width: 1440px) {
    max-width: 750px;
    gap: 50px;
  }
}

.price {
  font-family: "Montserrat", "sans-serif";
  color: #f94a2f;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.sale {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.title {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  width: 70%;
  line-height: normal;
  font-style: normal;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    width: 60%;
  }
}

.text {
  font-family: "Montserrat", "sans-serif";
  color: #fff;
  text-align: center;
  font-size: 10px;
  width: 48%;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    padding-top: 35px;
  }
}

.buttonwrapper {
  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
}
.button {
  display: block;
  font-family: "Montserrat", "sans-serif";
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  border: none;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 40px;
  padding: 12px 49px;
  transition: 250ms ease;
  @media screen and (min-width: 768px) {
    line-height: normal;
    font-size: 28px;
    padding: 15px 72px;
  }
}

.button:hover,
.button:focus {
  background-color: #f94a2f;
  color: #fff !important;
}
