.list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    width: 1110px;
  }
}

.link {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: normal;
    color: #fff;
    transition: 300ms ease;
  }

  &:hover,
  &:focus {
    color: #f94a2f;
  }
}
