.flipclock {
  font-family: "Montserrat";
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-digit-block-width: 28px; /* width of digit card */
  --fcc-digit-block-height: 38px; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 26px; /* font size of digit */
  --fcc-digit-color: #f26341; /* color of digit */
  --fcc-label-font-size: 10px; /* font size of label */
  --fcc-label-color: #fff; /* color of label */
  --fcc-background: #fff; /* background of digit card */
  --fcc-divider-color: white; /* color of divider */
  --fcc-divider-height: 0px; /* height of divider */
  --fcc-separator-size: 6px; /* size of colon */
}

.flipclock * {
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: 700;
  box-shadow: none !important;
}
